@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    min-width: 100vw;
    min-height: 100vh;
}


.dropdown:hover .dropdown-content {
    display: block;
}